<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= task.tasktitle %></h1>
</div>

<div class="col py-3">

    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active"><%= task.tasktitle  %></li>
          </ol>
        </nav>
      </div>
    </div>
  
  </div>
  
  <ul class="list-group">
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Task:</b></div>
        <div class="col"><%= task.tasktitle %>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Priority:</b></div>
        <div class="col"><%= task.priority %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Due Date:</b></div>
        <div class="col"><%= task.date %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Description:</b></div>
        <div class="col"><%= task.description %></div>
      </div>
    </li>
    </ul>